html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'Montserrat Alternates';
  src: url('../fonts/montserrat_alternates/MontserratAlternates-regular.eot');
  src: url('../fonts/montserrat_alternates/MontserratAlternates-regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/montserrat_alternates/MontserratAlternates-regular.woff2') format('woff2'),
    url('../fonts/montserrat_alternates/MontserratAlternates-regular.woff') format('woff'),
    url('../fonts/montserrat_alternates/MontserratAlternates-regular.ttf') format('truetype'),
    url('../fonts/montserrat_alternates/MontserratAlternates-regular.svg#montserrat_alternatesregular') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat Alternates';
  src: url('../fonts/montserrat_alternates/MontserratAlternates-semibold.eot');
  src: url('../fonts/montserrat_alternates/MontserratAlternates-semibold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/montserrat_alternates/MontserratAlternates-semibold.woff2') format('woff2'),
    url('../fonts/montserrat_alternates/MontserratAlternates-semibold.woff') format('woff'),
    url('../fonts/montserrat_alternates/MontserratAlternates-semibold.ttf') format('truetype'),
    url('../fonts/montserrat_alternates/Montserratlternates-semibold.svg#montserrat_alternatessemibold') format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat Alternates';
  src: url('../fonts/montserrat_alternates/MontserratAlternates-bold.eot');
  src: url('../fonts/montserrat_alternates/MontserratAlternates-bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/montserrat_alternates/MontserratAlternates-bold.woff2') format('woff2'),
    url('../fonts/montserrat_alternates/MontserratAlternates-bold.woff') format('woff'),
    url('../fonts/montserrat_alternates/MontserratAlternates-bold.ttf') format('truetype'),
    url('../fonts/montserrat_alternates/MontserratAlternates-bold.svg#montserrat_alternatesbold') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat Alternates';
  src: url('../fonts/montserrat_alternates/MontserratAlternates-extrabold.eot');
  src: url('../fonts/montserrat_alternates/Montserratalternates-extrabold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/montserrat_alternates/MontserratAlternates-extrabold.woff2') format('woff2'),
    url('../fonts/montserrat_alternates/MontserratAlternates-extrabold.woff') format('woff'),
    url('../fonts/montserrat_alternates/MontserratAlternates-extrabold.ttf') format('truetype'),
    url('../fonts/montserrat_alternates/MontserratAlternates-extrabold.svg#montserrat_alternatesXBd') format('svg');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat Alternates';
  src: url('../fonts/montserrat_alternates/MontserratAlternates-Black.eot');
  src: url('../fonts/montserrat_alternates/MontserratAlternates-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/montserrat_alternates/MontserratAlternates-Black.woff2') format('woff2'),
    url('../fonts/montserrat_alternates/MontserratAlternates-Black.woff') format('woff'),
    url('../fonts/montserrat_alternates/MontserratAlternates-Black.ttf') format('truetype'),
    url('../fonts/montserrat_alternates/MontserratAlternates-Black.svg#montserrat_alternatesblack') format('svg');
  font-weight: 900;
  font-style: normal;
}

body {
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #101010;
}


body::-webkit-scrollbar {
  width: 8px;
  background-color: #EAE9E6;
}

body::-webkit-scrollbar-thumb {
  background-color: #A9A9A9;
}

.body-fixed {
  overflow: hidden;
}

.container {
  max-width: 80%;
  margin: 0 auto;
}

.loader {
  background: no-repeat scroll 0 0 #fff;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.loader_inner {
  background-image: url("../img/loader.gif");
  background-repeat: no-repeat;
  background-color: #fff;
  width: 400px;
  height: 200px;
  margin-top: -100px;
  margin-left: -200px;
  position: absolute;
  left: 50%;
  top: 50%;
}

.header {
  background-image: url(../img/header.jpg);
  -webkit-background-size: cover;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  min-height: 640px;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
}

.humburger__logo {
  width: 60px;
  height: 45px;
  position: fixed;
  right: 5%;
  top: 5%;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  z-index: 3;
}

.humburger__logo span {
  display: block;
  position: absolute;
  height: 9px;
  width: 100%;
  background: #FF374E;
  -webkit-border-radius: 9px;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.humburger__logo span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -ms-transform-origin: left center;
  transform-origin: left center;
}

.humburger__logo span:nth-child(2) {
  top: 18px;
  -webkit-transform-origin: left center;
  -ms-transform-origin: left center;
  transform-origin: left center;
}

.humburger__logo span:nth-child(3) {
  top: 36px;
  -webkit-transform-origin: left center;
  -ms-transform-origin: left center;
  transform-origin: left center;
}

.humburger__logo.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0;
  left: 8px;
}

.humburger__logo.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.humburger__logo.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 42px;
  left: 8px;
}

.menu__container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(250, 250, 250, 0.9);
  z-index: 2;
  display: none;
}

.menu {
  position: relative;
  top: 100%;
  left: 50%;
  margin-top: -150px;
  margin-left: -150px;
  text-align: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  width: 300px;
  -webkit-transition: top 0.5s;
  -o-transition: top 0.5s;
  transition: top 0.5s;
}

.menu_active {
  top: 50%;
}

.menu__link {
  display: block;
  padding: 20px 0;
  text-transform: uppercase;
  color: #FF374E;
  font-size: 24px;
  letter-spacing: 2px;
  text-decoration: none;
  font-weight: bold;
  position: relative;
}

.menu__link:hover:after {
  width: 50%;
}

.menu__link:hover:before {
  width: 50%;
}

.menu__link:after {
  content: '';
  width: 0;
  display: block;
  height: 3px;
  background-color: #FF374E;
  position: absolute;
  top: 100%;
  -webkit-transition: width 0.3s;
  -o-transition: width 0.3s;
  transition: width 0.3s;
  right: 50%;
}

.menu__link:before {
  content: '';
  width: 0;
  left: 50%;
  display: block;
  height: 3px;
  background-color: #FF374E;
  position: absolute;
  bottom: -3px;
  -webkit-transition: width 0.3s;
  -o-transition: width 0.3s;
  transition: width 0.3s;
}

.header__name {
  margin-top: -300px;
  text-align: center;
  -webkit-transition: margin-top 1.5s;
  -o-transition: margin-top 1.5s;
  transition: margin-top 1.5s;
}

.header__name_animation {
  margin-top: -150px;
}

.header__name_text {
  border: 5px solid #000;
  font-size: 4em;
  color: #101010;
  margin-bottom: 20px;
}

.header__name_spec,
.header__name_descr {
  padding-top: 10px;
  color: #FF374E;
  font-weight: bold;
  padding: 0;
}

.header__name_descr {
  font-size: 12px;
}

.section {
  padding: 60px 0 100px 0;
}

.about {
  background-color: #EAE9E6;
}

.section__head {
  padding-bottom: 20px;
  text-align: center;
  position: relative;
  margin-bottom: 70px;
}

.section__head:after {
  content: '';
  display: block;
  position: absolute;
  bottom: -10px;
  left: 50%;
  margin-left: -75px;
  width: 150px;
  height: 1px;
  background-color: #101010;
}

.section__head-name {
  padding-bottom: 20px;
  font-size: 40px;
  text-transform: uppercase;
  color: #101010;
}

.about__item-head {
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 20px;
  font-weight: bold;
}

.about__descr {
  color: #FF374E;
  line-height: 24px;
}

.about__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: flex-start;
  -webkit-align-items: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
}

.about__item {
  width: 25%;
}

.about__photo {
  width: 250px;
  height: 250px;
  -webkit-box-shadow: 0 0 0 5px #FF374E;
  box-shadow: 0 0 0 5px #FF374E;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
  display: flex;
  align-items: center;
  background-image: url(../img/photo.jpg);
  background-size: cover;
  background-position: 55%;
}

/* .photo_img {
  width: 100%;
} */

.about__photo:hover {
  -webkit-animation: bounceOut .4s linear;
  animation: bounceOut .4s linear;
  cursor: pointer;
}

.personal__info li {
  line-height: 24px;
}

.text-color {
  color: #FF374E;
}

.personal__social {
  padding-top: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.facebook,
.github,
.inst,
.telegram,
.viber,
.linkedin {
  width: 24px;
  height: 24px;
  fill: #FF374E;
  margin: 5px;
  -webkit-transition: fill .5s;
  -o-transition: fill .5s;
  transition: fill .5s;
}
.facebook {
  width: 20px;
}
.facebook:hover {
  fill: #000;
}

.github:hover {
  fill: #000;
}
.inst:hover {
  fill: #000;
}
.telegram:hover {
  fill: #000;
}
.viber:hover {
  fill: #000;
}
.linkedin:hover {
  fill: #000;
}
.portfolio {
  background-color: #fff;
}

.portfolio__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  flex-wrap: wrap;
}

.portfolio__item {
  width: 20%;
  text-align: center;
  color: inherit;
  text-decoration: none;
  margin-bottom: 40px;
  flex-basis: 300px;
  flex-grow: 0;
  flex-shrink: 1;
}
.portfolio__img-wrap {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto 20px;
}

.portfolio__img {
  width: 100%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: ease-in-out .3s filter;
  transition: ease-in-out .3s filter, transform 2s;
  /* transform: scale(1.4); */
}
.portfolio__item:hover .portfolio__img {
  filter: grayscale(0%);
  transform: scale(1.3);
}

.portfolio__head {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: ease-in-out .3s filter;
  transition: ease-in-out .3s filter;
}
.portfolio__item:hover .portfolio__head {
  filter: grayscale(0%);
}

.portfolio__head span {
  color: #FF374E;
}
.portfolio__descr {
  padding: 0 40px;
  position: relative;
}
.portfolio__descr:before {
  content: '';
  display: block;
  position: absolute;
  width: 100px;
  height: 1px;
  top: -10px;
  left: calc(50% - 50px);
  background-color: #ff374e;
}
.contact {
  background-color: #EAE9E6;
}

.contacts__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: flex-start;
  -webkit-align-items: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
}

.address {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 100%;
}

.addres,
.contact__form {
  width: 40%;
}

.address__item {
  margin-bottom: 40px;
}

.contact__img {
  width: 30px;
}

.contact__head {
  padding-bottom: 10px;
  font-size: 14px;
  color: #101010;
  text-transform: uppercase;
  font-weight: normal;
}

.contact__link {
  color: #FF374E;
  text-decoration: none;
}

.contact__link:visited {
  color: #FF374E;
}

.contact__link:hover {
  text-decoration: underline;
}

.contact__form label {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-bottom: 20px;
}

.important {
  color: #FF374E;
}

.form__text {
  font-size: 12px;
  padding-left: 10px;
}

input[type=text],
input[type=email] {
  color: #101010;
  padding-left: 10px;
  width: 100%;
  height: 30px;
  margin-top: 10px;
  border: none;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  outline: none;
  border: 1px solid transparent;
  font-family: 'Montserrat Alternates', sans-serif;
}

.btn {
  display: block;
  width: 30%;
  background-color: #FF374E;
  border: none;
  padding: 10px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #fff;
  margin: 10px auto;
  outline: none;
  border: 1px solid transparent;
}

.btn:hover {
  cursor: pointer;
}

.btn:active {
  background-color: #FF859D;
  color: #FF374E;
}

.contact__form input:focus {
  border: 1px solid #FF374E;
}

.message {
  width: 100%;
  margin-top: 10px;
  border: none;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding-left: 10px;
  resize: none;
  outline: none;
  border: 1px solid transparent;
  font-family: 'Montserrat Alternates', sans-serif;
}

.message:focus {
  border: 1px solid #FF374E;
}

.contact__form input::-webkit-input-placeholder,
.message::-webkit-input-placeholder {
  color: #FF374E;
  font-family: 'Montserrat Alternates', sans-serif;
}

.contact__form input::-moz-placeholder,
.message::-webkit-input-placeholder {
  color: #FF374E;
  font-family: 'Montserrat Alternates', sans-serif;
}

.contact__form input:-ms-input-placeholder,
.message::-webkit-input-placeholder {
  color: #FF374E;
  font-family: 'Montserrat Alternates', sans-serif;
}

.contact__form input:-moz-placeholder,
.message::-webkit-input-placeholder {
  color: #FF374E;
  font-family: 'Montserrat Alternates', sans-serif;
}

.footer {
  padding: 20px 0;
  background-color: #A9A9A9;
}

.copyright {
  padding-top: 10px;
  font-size: 12px;
}

.footer__social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

@-webkit-keyframes bounceOut {
  0% {
    -webkit-box-shadow: 0 0 0 4px #FF374E;
    box-shadow: 0 0 0 4px #FF374E;
    opacity: 1;
  }

  25% {
    -webkit-box-shadow: 0 0 0 1px #FF374E;
    box-shadow: 0 0 0 1px #FF374E;
    opacity: 1;
  }

  50% {
    -webkit-box-shadow: 0 0 0 7px #FF374E;
    box-shadow: 0 0 0 7px #FF374E;
    opacity: 1;
  }

  75% {
    -webkit-box-shadow: 0 0 0 4px #FF374E;
    box-shadow: 0 0 0 4px #FF374E;
    opacity: 1;
  }

  100% {
    -webkit-box-shadow: 0 0 0 5px #FF374E;
    box-shadow: 0 0 0 5px #FF374E;
    opacity: 1;
  }
}

@keyframes bounceOut {
  0% {
    -webkit-box-shadow: 0 0 0 4px #FF374E;
    box-shadow: 0 0 0 4px #FF374E;
    opacity: 1;
  }

  25% {
    -webkit-box-shadow: 0 0 0 1px #FF374E;
    box-shadow: 0 0 0 1px #FF374E;
    opacity: 1;
  }

  50% {
    -webkit-box-shadow: 0 0 0 7px #FF374E;
    box-shadow: 0 0 0 7px #FF374E;
    opacity: 1;
  }

  75% {
    -webkit-box-shadow: 0 0 0 4px #FF374E;
    box-shadow: 0 0 0 4px #FF374E;
    opacity: 1;
  }

  100% {
    -webkit-box-shadow: 0 0 0 5px #FF374E;
    box-shadow: 0 0 0 5px #FF374E;
    opacity: 1;
  }
}

/*Extra - large devices*/
@media only screen and (max-width : 1199px) {
  .about__item {
    width: 30%;
  }
}

/*Large devices, Desktops*/
@media only screen and (max-width : 991px) {
  .text-color {
    display: block;
  }

  .about__photo {
    width: 200px;
    height: 200px;
  }
}

/*Medium devices, Tablets*/
@media only screen and (max-width : 767px) {
  .section {
    padding: 40px 0;
  }

  .header__name-text {
    font-size: 3em;
  }

  .section__head {
    margin-bottom: 40px;
  }

  .about__content {
    flex-direction: column;
  }

  .about__item {
    width: 100%;
    padding-bottom: 40px;
  }

  .about__item-head {
    padding-top: 20px;
  }

  .about__descr {
    text-align: justify;
  }

  .about__photo {
    width: 250px;
    height: 250px;
  }

  .personal__info {
    text-align: center;
  }

  .personal__social {
    justify-content: center;
  }
  .portfolio__content {
    justify-content: center;
  }
  .contacts__content {
    flex-direction: column;
  }

  .address {
    text-align: center;
    padding-bottom: 40px;
    width: 100%;
  }

  .contact__form {
    width: 100%;
  }

  .address__item {
    margin-bottom: 20px;
  }
}

/*Small devices, phones*/
@media only screen and (max-width : 575px) {
  .header__name_text {
    font-size: 2em;
  }

  .section__head_name {
    font-size: 28px;
  }

  .btn {
    width: 50%;
  }

  .copyright {
    text-align: center;
    padding-bottom: 10px;
  }

  .footer__social {
    justify-content: center
  }
}

/*Extra - small devices*/
@media only screen and (max-width : 320px) {
  body {
    min-width: 320px;
  }
}